name: Daily Stock Report

on:
  schedule:
    - cron: "30 2 * * *"   # Runs daily at 8:00 AM IST (2:30 AM UTC)
  workflow_dispatch:        # Enables manual run

jobs:
  run-python-report:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run script
        env:
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
        run: |
          python app.py
